.btnfilter{
    background-color: #f4f4f4;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    color: #767676;

    svg{
        font-size: 18px;
    }
}
// .btnfilter:active{
//     background-color: var(--greencolor);
//     color: #fff;
// }