.searcbar{
    position: relative;
    background-color: #f4f4f4;

    border-radius: 50px;
    .custinput{
        padding-left: 20px;
        padding-right: 45px;
        box-shadow: none;
        height: 50px;
        border: none;
        background-color: transparent;
    }
    .iconbar{
        position: absolute;
        top: 13px;
        right: 18px;
        font-size: 1.5rem;
    }
}