@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto&display=swap');


:root{
    --primarycolor:  #1b1c1e;
    --primarygraycolor:#767676;
    --greencolor: #4c5d34;
}
body{
    background-color: #f4f4f4 !important;
    font-family: "Inter", sans-serif !important;
}
.backrea {
    display: inline-flex;
    gap: 10px;
    align-items: center;
    padding: 7px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  .backrea:hover {
    background-color: #f6f6f6;
  }
  .backrea svg {
    font-size: 1.7rem;
    color: var( --greencolor);
  }
  .backrea p {
    color: var( --greencolor);
    margin-bottom: 0;
    font-weight: 500;
    font-size: 1.1rem !important;
  }
  .form-select{
    box-shadow: none !important;
    cursor: pointer;
    border: none !important;
  }
.wraper_body{
  padding: 10px 20px;
}

.paddingleftright{
  padding: 0px 20px;
}

.bgwhite{
  background-color: #fff;
  padding: 15px;
  border: 1px solid #dedede;
  border-radius: 10px;
}
.wraper_body{
  background-color: #fafafa;
  padding: 10px;
  /* z-index: -1;
  position: relative; */
}
/*--------------------------- edit delete button ----------------------- */
.editdelete ul {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
}
.editdelete ul li .deltebuton {
  border: none;
  padding: 0;
  background-color: transparent;
}
.editdelete ul li svg {
  font-size: 1.2rem;
}
.editdelete ul li .deltebuton svg {
  color: #fe131c;
}

.editdelete .vieweyes {
  color: var(--primarycolor);
}

.lower-z-index {
  position: relative; /* Ensure the element is positioned */
  z-index: 10; /* Set the desired z-index */
}